/* general reset function */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	 
}

/* body layout */
body {
    display: flex;
    flex-direction: column;
	flex: 1;
    min-height: 100vh;
    font-family: 'Roboto', Arial, sans-serif;	
}

/* styling component used to overcome bug causing the footer to float */
.page-wrapper {
    display: flex;
    flex-direction: column; /* stacks content vertically */
    min-height: 100vh; /* ensure the wrapper fills the full height of the viewport */
}

/* header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* ensure spacing between logo and nav */
    padding: 10px 20px;
    background-color: #0d5257; /* header background color */
    color: white;
}

/* logo styling */
.logo img {
    height: 80px; /* standard height for logo */
    width: auto; /* maintains aspect ratio */
	margin-right: 30px; /* space between the logo and nav links */
}

/* nav bar styling */
.nav {
    flex: 1; /* remaining space for nav */
    display: flex;
}

.nav ul {
    display: flex;
    list-style: none; /* remove bullet points */
    gap: 20px; /* space between links */
	justify-content: space-evenly; /* Spread links evenly across nav */
    margin: 0;
	flex: 1; /* ensure links take up available space */
	padding-right: 50px; /* Offset all links slightly to the right */
    
}

.nav ul li a {
    text-decoration: none; /* removes underline */
    color: white; /* link text color */
	font-size: 20px; 
    font-weight: bold;
    transition: color 0.3s; /* smooth color transition */
}

.nav ul li a:hover {
    color: #c0ebef; /* light blue on hover */
}


/* main Content */
.main-content {
    flex: 1; /* pushes footer to bottom */	
}



.carousel-item img {
    max-height: 75vh; /* set the maximum height to 75% of the viewport height */
    width: 100%; 
    object-fit: cover; /* aspect ratio  */
}

.carousel-caption {
    background: #00000040; /* black background with 50% opacity to make the caption stand out more clearly */
    border-radius: 10px; 
    padding: 10px 20px; 
	max-width: 40%; 
	margin: 0 auto; 
    text-align: center; 
}

/* caption heading  */
.carousel-caption h5 {
    font-size: 2rem; 
    font-weight: bold; 
	text-shadow: 2px 2px 5px #000000CC;
}

/* smaller caption text */
.carousel-caption p {
    font-size: 1.25rem; 
    font-weight: normal;
	text-shadow: 2px 2px 5px #000000CC;
}


/* hero-image section styling */
.hero-image {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden; /* prevents overflow of the image */
    margin-bottom: -50px; /* overlap info cards slightly */
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* transparent overlay */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080; /* semi-transparent black overlay */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1; 
    padding: 20px;
}
/* overlay heading */
.hero-overlay h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #ffffff;
}

/* overlay smaller text */
.hero-overlay p {
    font-size: 1.2em;
    color: #f1f1f1;
}


/* info methods section */
.info-methods {
    padding: 60px 40px;
    background: #f9f9f9;
    text-align: center;
	margin-bottom: 80px;
}

/* info methods header text */
.info-methods h1 {
    font-size: 2em;
    color: #3a6eb2;
    margin-bottom: 20px;
}
/* info methods smaller paragraph text */
.info-methods p {
    color: #555;
    margin-bottom: 60px;
}

/* info cards wrapper */
.info-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 100px
}

/* individual info cards */
.info-card {
    background: #fff;
    border-radius: 10px;
    box-shadow:  0 4px 6px #0000001A;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33% - 20px); /*  makes each card occupy 33% of the parent container's width minus the gap */
    max-width: calc(33% - 20px);/* limits maximum width of info cards */
}

/* icon styling */
.info-icon {
    max-width: 50px;
    margin-bottom: 15px;
}

/* title */
.info-title {
    font-size: 1.5em;
    color: #3a6eb2;
    margin-bottom: 10px;
}

/* info description text */
.info-card p {
    font-size: 1em;
    color: #555;
    margin: 15px 0;
}

/* strong styling to make phone number stand out */
.info-card p strong {
    font-size: 1.2em;
    color: #333;
    margin: 15px 0;
    display: block;
}

/* info buttons */
.info-button {
    background-color: #0d5257; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.info-button:hover {
    background-color: #c0ebef; /* lighter blue hover effect */ 
}
/* styling for the 'why choose us section */
.why-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 80px 40px; 
    text-align: center; 
    color: #0d5257; 
}

/* title styling */
.why-title {
    font-size: 2em; 
    font-weight: bold;
    margin-bottom: 60px;
}

/* grid container for the reasons */
.why-grid {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

/* individual items in the grid */
.why-item {
    flex: 1 1 calc(33% - 20px); /* 3 items per row */
    max-width: calc(33% - 20px); /* ensures items don't stretch */
    background-color: #f9f9f9; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0px 4px 6px #0000001A; 
    text-align: center; /* Center align text */
}

/* icon styling */
.why-icon {
    width: 50px; 
    height: 50px;
    margin-bottom: 15px;
}

/*  heading styling  */
.why-container h3 {
    font-size: 1.5em; 
    margin-bottom: 15px;
    color: #0d5257; 
}

/* styling for the smaller paragraph text */
.why-container p {
    font-size: 1em;
    color: #333; 
    line-height: 1.6;
    margin: 0; 
}

/* homepage services section: provides an introduction into the scans we offer */
.homepage-services-container {
    padding: 40px 20px;
    background-color: #f8f8f8;
}
/* main content of homepage-services styling */
.homepage-services-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}



/* text area styling */
.homepage-services-text {
    flex: 1;
    text-align: left;
}

/* heading styling */
.homepage-services-text h2 {
    font-size: 2.5em;
    color: #205b62; 
    margin-bottom: 20px;
}

/* paragraph styling */
.homepage-services-text p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
}
/* button styling */
.homepage-services-button {
    display: inline-block;
    background-color: #205b62; 
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* button-hover styling */
.homepage-services-button:hover {
    background-color: #187b7d;
}

/* image box styling */
.homepage-services-image {
    flex: 1;
    max-width: 50%;
}
/* image styling */
.homepage-services-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* sonographer section - information on our experience and credibility */
.sonographer {
    background-color: #f8f9fa; 
    padding: 60px 20px;
    text-align: center;
}

/* heading styling */
.sonographer h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #0d5257; /* matches the header/footer color */
    margin-bottom: 40px;
} 
/* container styling */
.sonographers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
/* card styling */
.sonographer-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    align-items: center; 
    text-align: center;
}
/* image styling */
.sonographer-image {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    margin-bottom: 20px;
}
/* title styling */
.sonographer-title {
    font-size: 1.2em;
    font-weight: 500;
    color: #0d5257;
    margin: 10px 0;
}
/* paragraph text styling */
.sonographer-description {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

/* referrals section */
.referrals {
    background-color: #e9f4f9; 
    padding: 40px 20px; 
    text-align: center;
    color: #333; /
}
/* heading section */
.referrals h2 {
    font-size: 2.5em; 
    color: #0d5257; 
    margin-bottom: 20px; 
}
/* paragraph section */
.referrals p {
    font-size: 1.2em; 
    margin-bottom: 20px; 
    line-height: 1.5;
}
/*healthlink,email,fax etc information */
.referral-details {
    list-style-type: none; 
    padding: 0; 
    margin: 20px 0; 
    text-align: center; 
    max-width: 800px;
    margin: 0 auto; 
}
/* list item styling */
.referral-details li {
    font-size: 1em;
    margin-bottom: 10px; 
}
/* styling for links */
.referral-details a {
    color: #0d5257; 
    text-decoration: none;
    font-weight: bold;
}
/* hover styling */
.referral-details a:hover {
    text-decoration: underline; 
}
/* container that holds buttons styling */
.referral-buttons {
    margin: 20px 0; 
}
/* button styling */
.referral-btn {
    display: inline-block; 
    background-color: #0d5257; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 1em;
    margin: 0 10px; 
    transition: background-color 0.3s ease, transform 0.2s ease; /* smooth transition between different states*/
}

/* hover button styling */
.referral-btn:hover {
    background-color: #0a3942; 
    transform: scale(1.05); /* slight zoom on hover */
}
/* urgent refferal section styling */
.urgent-referral {
    font-size: 1em;
    margin-top: 20px; 
    color: #555; 
}

/* Contact form/map container styling */
.contact-container {
    display: flex; /* flexbox for side-by-side layout */
    flex-wrap: nowrap; 
    gap: 80px; /* space between left and right sections */
    padding: 20px; 
    background-color: #ffffff; 
	max-width: 1400px; 
    margin: 0 auto; 
	align-items: stretch;
}
.contact-container h1 {
    font-size: 32px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 20px; 
}

/* left section: contact form */ 
.contact-left {
    flex: 1 1 40%; /* form takes up 40% width */
	max-width: 600px;
}
/* left section heading */ 
.contact-left h2 {
    font-size: 18px; /* slightly larger font size for heading */
    margin-bottom: 20px; 
    color: #333; 
}
/* label styling */ 
.contact-left form label {
    display: flex; /* each label appears on its own line */
    flex-direction: column;
	gap: 15px; 
}
/* form styling */
.contact-left form input,
.contact-left form select,
.contact-left form textarea {
    width: 100%; /* full-width fields */
    margin-bottom: 15px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; /* rounded corners */
    font-size: 14px;
}
/* form button styling */
.contact-left form button {
    background-color: #0d5257; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; /* rounded corners for modern look */
    cursor: pointer; /* pointer cursor on hover */
    font-size: 16px; 
}
/* hover styling */
.contact-left form button:hover {
    background-color: #c0ebef; /* lighter blue for hover effect */
}

/* right section: map */
.contact-right {
    flex: 1 1 40%; /* map takes up 40% width */
	max-width: 600px;
	font-weight: bold;
	
}
/* heading styling */
.contact-right h2 { 
    font-size: 18px; /* slightly larger font size for heading */
    margin-bottom: 20px; 
    color: #333;
}

/* map container styling */
.map-container {
    max-width: 100%; 
    height: 450px;
	margin: 20px auto; 
	margin-bottom: 20px;
	border-radius: 10%; 
}
/* styling of i-frame map container styling */
.map-container iframe {
    width: 100%; 
    height: 450px; 
	border: 0;
	border-radius: 10%; 
   
}
/* keepsake products section */
.keepsake-products {
    padding: 60px 20px; 
    background-color: #f9f9f9; 
    text-align: center;

}

/* heading styling */
.keepsake-products h2 {
    font-size: 1.75em; 
    color: #0d5257; 
    margin-bottom: 80px; 
}

/* keepsake products container styling */
.keepsake-products-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
	margin-bottom: 100px;
}

/* keepsake product card styling */
.keepsake-product-card {
    background: white;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    padding: 20px; 
    width: calc(25% - 20px); /* 4 cards per row */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth hover effect */
}

/* hover styling */
.keepsake-product-card:hover {
    transform: scale(1.05); /* slight zoom-in on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* stronger shadow on hover */
}

/* image Styling */
.keepsake-product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    margin-bottom: 15px; 
}

/* product title */
.keepsake-product-card h3 {
    font-size: 1.2em; 
    color: #333; 
    margin-bottom: 10px; 
}

/* product price styling */
.keepsake-product-card p {
    font-size: 1.1em; 
    color: #e76f51; 
    font-weight: bold;
}


/* footer styling */
.footer {
    background-color: #0d5257; 
    color: white;
    padding: 20px;
    text-align: left;
	width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap; /* stacks sections on smaller display screens */
    justify-content: space-between;
    gap: 20px;
}

/* footer sections */
.footer-left,
.footer-middle,
.footer-right {
    flex: 1; /* each section takes up equal place */
    min-width: 200px;
}

/* logo and slogan */
.footer-logo {
    height: 80px;
    width: auto;
    margin-bottom: 10px;
}
/* smaller text styling */
.footer-left p {
    font-size: 22px;
    color: white; /* matches nav link color */
}

/* quick links/contact us headings ztyling */
.footer-middle h4,
.footer-right h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #white; 
}

/* quick links list styling */
.footer-middle ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 /* spacing/vertical alignment between each list item  */
.footer-middle ul li {
    margin-bottom: 8px;
}
/* styles the links in the footer */
.footer-middle ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s;
}
/* changes link color to light blue on hover */
.footer-middle ul li a:hover {
    color: #c0ebef;
}

/* contact info and opening hours */
.footer-right p {
    font-size: 14px;
    margin: 5px 0;
    color: white;
}
/* styles links withing the footer-right section */ 
.footer-right p a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

/* link hover styling */
.footer-right p a:hover {
    color: #c0ebef;
}

/* social media icons */ 
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
	filter: invert(57%) sepia(15%) saturate(400%) hue-rotate(160deg) brightness(90%) contrast(85%); /* filter methodology retrieved from https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
    transition: filter 0.3s ease, transform 0.3s ease;  /* transition methodology retrieved from https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
}
/* social media icon image styling */ 
.social-icons img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s, opacity 0.3s;
}
/* social media icon hover styling  */ 
.social-icons img:hover {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(200%) contrast(100%); /* create a visual effect where the icon becomes brighter, changes color, and enlarges when hovered over, enhancing user interaction */
    transform: scale(1.2);
   
}



/* Responsive Design - ensures our website perofrms well on smaller size monitors */ /* @media syntax function retrieved from https://www.w3schools.com/howto/howto_css_responsive_header.asp */ 
@media (max-width: 768px) {
    .header {
        flex-wrap: wrap; /* stack items on smaller screens */
    }

    .nav ul {
        flex-direction: column; /* vertical links */
        gap: 10px;
        align-items: flex-start; /* align links to the left */
    }

    .nav {
        width: 100%; /* nav takes full width */
        margin-top: 10px;
    }
	.carousel-caption {
        font-size: 0.9em; /* makes captions smaller on mobile */
        padding: 10px;
	}
    .contact-container {
        flex-direction: column; /* stacks sections vertically */
        gap: 10px; /* reduces space between sections */
	}
	
	.why-grid {
        flex-direction: column; /* stack items vertically */
        gap: 20px;
    }

    .why-item {
        flex: 1 1 100%; /* each item takes full width */
        max-width: 100%;
    }
	
	.info-methods {
        padding: 40px 20px; /* reduces padding for smaller screens */
        margin-bottom: 40px; 
    }

    .info-methods h1 {
        font-size: 1.5em; /* adjusts heading size */
        margin-bottom: 15px; 
    }

    .info-methods p {
        margin-bottom: 30px; /* reduce margin below the paragraph */
    }

    .info-cards {
        flex-direction: column; /* stack cards vertically */
        gap: 20px; /* maintains spacing between stacked cards */
    }

    .info-card {
        flex: 1 1 100%; 
        max-width: 100%; /* removes max-width constraint for stacked layout */
    }

    .info-icon {
        max-width: 40px; /* reduce icon size */
        margin-bottom: 10px; 
    }

    .info-title {
        font-size: 1.3em; 
        margin-bottom: 8px; /* reduces margin below the title */
    }

    .info-card p {
        font-size: 0.9em; 
        margin: 10px 0; 
    }

    .info-button {
        font-size: 14px; 
        padding: 8px 16px; /* reduced button padding */
    }


     
    .contact-left,
    .contact-right {  /*ensures both the left and right sections in the contact layout take full width on smaller screens  */
        flex: 1 1 100%; 
        max-width: 100%; 
    }
	.homepage-services-content{
        flex-direction: column; /* stacks elements vertically for better readability */
    }


    .homepage-services-text,
    .homepage-services-image {
        max-width: 100 /* full-width for responsiveness */
        text align: center;
    }

    .homepage-services-button {
        margin: 0 auto; /* center align button */
    }
	.sonographers-container {
        flex-direction: column; /* stack cards vertically */
		}
    
    .sonographer h2 {
        font-size: 1.8em;  /* reduces heading size for better readability */
    }
    .sonographer-description { /* reduces font size for better alignment with smaller layouts */
        font-size: 0.9em;
    }
	.keepsake-product-card {
        width: calc(50% - 20px); /* 2 cards per row */
	
} 
 